* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: #191922;
}

ul,
li {
  list-style-type: none;
}

li {
  margin-top: 0.4rem;
}

header {
  margin-top: 8px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#navbar {
  display: flex;
  justify-content: center;
}

#searchForm {
  display: flex;
  flex-direction: row;
  border: 1px solid grey;
  border-radius: 4px;
  height: 2rem;
  width: 25%;
  background-color: #f5f5f5;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#searchForm:focus-within {
  outline: 1px solid hotpink;
}

#searchForm > select {
  border: none;
  outline: none;
  border-right: 1px solid grey;
  cursor: pointer;
  font-weight: 600;
}

#searchForm > input {
  flex-grow: 2;
  border: none;
  padding: 0.375rem 0px 0.375rem 0.5rem;
}

#searchForm > input:focus {
  outline: none;
}

#searchForm > button {
  background: none;
  border: none;
  padding-right: 0.8rem;
}

#searchForm > button:hover {
  cursor: pointer;
}

#searchForm > button > i {
  color: grey;
}

#moviesDropdown {
  position: relative;
  margin-left: 1rem;
  display: flex;
  align-items: center;
}

#moviesDropdown > h4 {
  color: #f5f5f5;
  font-weight: 500;
}

.m-dropdown-container > i {
  color: #f5f5f5;
  margin-left: 6px;
}

.m-dropdown-content {
  display: none;
  position: absolute;
  top: 2rem;
  left: 0;
  border-radius: 6px;
  background-color: #f1f1f1;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.m-dropdown-content button {
  color: black;
  padding: 8px;
  text-decoration: none;
  display: block;
  border: none;
  border-radius: 6px;
  width: 100%;
  text-align: start;
}

.m-dropdown-content button:hover {
  background-color: #ddd;
}

#moviesDropdown:hover .m-dropdown-content {
  display: block;
}

#moviesDropdown:hover,
.m-dropdown-content > button:hover {
  cursor: pointer;
}

.contentContainer {
  margin: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
}

.content-card {
  display: flex;
  flex-direction: column;
  color: #f5f5f5;
}

.content-card > h3,
.content-card > p {
  font-weight: 500;
  margin-top: 0.4rem;
}

.error {
  display: flex;
  justify-content: center;
  color: #f5f5f5;
  margin-top: 2rem;
}
